%%-*-erlang-*-
{rows,
 [{row,
   [{col, [{class, "col-md-12"}],
     [{"compare-table",
       [{columns,
         [
          [{title,     "run_time (flag)"},
           {source,    "flags"},
           {attribute, "run_time"}],
          [{title,     "Time"},
           {source,    "summary"},
           {attribute, "time"}],
          [{title,     "Average Random"},
           {source,    "series/test/rand"},
           {reduce,    "average"},
           {format,    "0.0"}]
         ]}
       ]}
     ]}
   ]}
 ]}.
