%%-*-erlang-*-
{rows,
 [{row,
   [{col, [{class, "col-md-9"}],
     [
      {row,
       [
        {col, [{class, "col-md-3"}],
         [
          {"value-panel",
           [{color,     "yellow-700"},
            {icon,      "retweet"},
            {caption,   "Steps"},
            {source,    "series/test/rand"},
            {reduce,    "steps"},
            {format,    "0,0"}
           ]}
         ]},
        {col, [{class, "col-md-3"}],
         [
          {"value-panel",
           [{color,      "green"},
            {icon,       "clock-o"},
            {caption,    "Time"},
            {source,     "summary"},
            {attribute,  "time"},
            {format,     "00:00:00"}
           ]}
         ]},
        {col, [{class, "col-md-3"}],
         [
          {"value-panel",
           [{color,      "blue-600"},
            {icon,       "dashboard"},
            {caption,    "Avg System CPU"},
            {source,     "series/sys/cpu/util"},
            {reduce,     "average"},
            {format,     "0.0%"}
           ]}
         ]},
        {col, [{class, "col-md-3"}],
         [
          {"value-panel",
           [{color,      "blue-600"},
            {icon,       "question-circle"},
            {caption,    "Avg Test Random"},
            {source,     "series/test/rand"},
            {reduce,     "average"},
            {format,     "0.0"}
           ]}
         ]}
       ]},
      {row,
       [
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "Process Memory"},
            {label, "RSS"},
            {format, "0.0 b"},
            {source, "series/op/mem/rss"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "Process CPU"},
            {label, "CPU % Util"},
            {format, "%"},
            {source, "series/op/cpu/util"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "System Memory"},
            {label, "Mem Used"},
            {format, "0.0 b"},
            {source, "series/sys/mem/used"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "System CPU"},
            {label, "CPU % Util"},
            {format, "%"},
            {source, "series/sys/cpu/util"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "System Disk % Util"},
            {label, "Disk % Util"},
            {format, "%"},
            {source, "series/sys/dev.*/util"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "System Memory/Swap % Util"},
            {label, "Mem % Util"},
            {format, "%"},
            {source, "series/sys/(mem|swap)/util"}
           ]}
         ]},
        {col, [{class, "col-md-12"}],
         [
          {"timeseries",
           [{title, "Random Crazy Business"},
            {label, ""},
            {format, "0"},
            {source, "series/test/rand"}
           ]}
         ]}
       ]},
      {row,
       [{col, [{class, "col-md-12"}],
         [
          {"output", []}
         ]}
       ]}
     ]},
    {col, [{class, "col-md-3"}],
     [
      {"status", []},
      {"flags", []}
     ]}
   ]}
 ]}.
