%%-*-erlang-*-
{rows,
 [{row,
   [{col, [{class, "col-md-12"}],
     [
      {"compare-table",
       [{columns,
         [
          [{title, "Test Accuracy"},
           {source, "series/tf/test/accuracy"},
           {reduce, "last"},
           {format, "0.00%"}],

          [{title, "Train Accuracy"},
           {source, "series/tf/train/accuracy"},
           {reduce, "last"},
           {format, "0.00%"}],

          [{title, "Time"},
           {source, "series/tf/train/accuracy"},
           {reduce, "duration"},
           {format, "00:00:00"}],

          [{title, "Learning Rate"},
           {source, "flags"},
           {attribute, "learning_rate"}],

          [{title, "Steps"},
           {source, "series/tf/train/accuracy"},
           {reduce, "steps0"}],

          [{title, "Max Steps"},
           {source, "flags"},
           {attribute, "max_steps"}],

          [{title, "Dropout"},
           {source, "flags"},
           {attribute, "dropout"}]
         ]}
       ]}
     ]}
   ]}
 ]}.
