%%-*-erlang-*-
{rows,
 [{row,
   [{col, [{class, "col-md-9"}],
     [
      {row,
       [
        {col, [{class, "col-md-3"}],
         [
          {"value-panel",
           [{color,   "green"},
            {icon,    "bullseye"},
            {caption, "Test Accuracy"},
            {source,  "series/tf/test/accuracy"},
            {reduce,  "last"},
            {format,  "0.00%"}
           ]}
         ]},
        {col, [{class, "col-md-3"}],
         [
          {"value-panel",
           [{color,   "red"},
            {icon,    "bullseye"},
            {caption, "Training Accuracy"},
            {source,  "series/tf/train/accuracy"},
            {reduce,  "last"},
            {format,  "0.00%"}
           ]}
         ]},
        {col, [{class, "col-md-3"}],
         [
          {"value-panel",
           [{color,    "blue-600"},
            {icon,     "retweet"},
            {caption,  "Steps"},
            {source,   "series/tf/train/accuracy"},
            {reduce,    "steps0"},
            {format,    "0"}
           ]}
         ]},
        {col, [{class, "col-md-3"}],
         [
          {"value-panel",
           [{color,     "yellow-600"},
            {icon,      "clock-o"},
            {caption,   "Time"},
            {source,    "series/tf/train/accuracy"},
            {reduce,    "duration"},
            {format,    "00:00:00"}
           ]}
         ]}
       ]},
      {row,
       [
        {col, [{class, "col-md-12"}],
         [
          {"timeseries",
           [{title, "Accuracy"},
            {label, "% Predicted"},
            {format, "0.00%"},
            {source, "series/tf/.*/accuracy"}
           ]}
         ]
        },
        {col, [{class, "col-md-12"}],
         [
          {"timeseries",
           [{title, "Loss"},
            {label, "Cross Entropy"},
            {format, "0.000"},
            {source, "series/tf/.*/cross entropy"}
           ]}
         ]
        }
       ]},
      {row,
       [
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "GPU Memory"},
            {label, "Memory"},
            {format, "0.0 b"},
            {source, "series/gpu.*/mem/used"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "GPU % Util"},
            {label, "GPU % Util"},
            {format, "%"},
            {source, "series/.*/gpu/util"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "Process CPU Memory"},
            {label, "Memory (RSS)"},
            {format, "0.0 b"},
            {source, "series/op/mem/rss"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {"timeseries",
           [{title, "Process CPU % Util"},
            {label, "CPU % Util"},
            {format, "%"},
            {source, "series/op/cpu/util"}
           ]}
         ]}
       ]},
      {row,
       [{col, [{class, "col-md-12"}],
         [
          {"output", []}
         ]}
       ]}
     ]},
    {col, [{class, "col-md-3"}],
     [
      {"status", []},
      {"flags", []}
     ]}
   ]}
 ]}.
