%%-*-erlang-*-
{rows,
 [{row,
   [{col, [{class, "col-md-12"}],
     [
      {"compare-table",
       [{columns,
         [
          [{title, "Precision @ 1"},
           {source, "series/tf/test/Precision @ 1"},
           {reduce, "last"},
           {format, "0.00%"}],

          [{title, "Training Time"},
           {source, "series/tf/train/total_loss"},
           {reduce, "duration"},
           {format, "00:00:00"}],

          [{title, "Batch Size"},
           {source, "flags"},
           {attribute, "batch_size"}],

          [{title, "Training Steps"},
           {source, "series/tf/train/total_loss"},
           {reduce, "steps0"},
           {format, "0,0"}]
         ]}
       ]}
     ]}
   ]}
 ]}.
